!!Begin Generating Struts JSP Pages

#set ( $pagePath = "WEB-INF/pages" )
#set ( $fname = "${pagePath}/default-menu.jsp" )

Generating $fname from $name
$generator.parse("menu.vsl","$fname","dataModels",$dataModels)
#set ($basePath = $generator.OutputPath)
#foreach ($dataModel in $dataModels)
  #foreach ($database in $dataModel.Databases)
    #foreach ($tbl in $database.Tables)
      #if (!$tbl.isForReferenceOnly())
        #set ($primaryKeyField = "")
        #set ($primaryKeyGetter = "")
        #set ($primaryKeyJavaName = "")
        #set ($name = $tbl.JavaName)
        #set ( $fname = "${pagePath}/${name}InputScreen.jsp" )

Generating $fname from $name
	    $generator.parse("input-page.vsl","$fname","table",$tbl)

        #set ( $fname = "${pagePath}/${name}DisplayScreen.jsp" )

Generating $fname from $name
	    $generator.parse("display-page.vsl","$fname","table",$tbl)
     #end
    #end
  #end
#end

#macro (dropCase $dataValue) 
 #set ($prefix = $dataValue.substring(0,1).toLowerCase())
 #set ($colname = $dataValue.substring(1) )$prefix$colname#end

#macro ( colWriteAll $prefix $tabVal $suffix $suffixlast)
#set ($colnum = $tabVal.numColumns)
#foreach ( $column in $tabVal.Columns )
#set ($colnum = $colnum - 1)    
#if  ($colnum != 0) 
$prefix $column.name.toUpperCase() $suffix
#else
$prefix $column.name.toUpperCase() $suffixlast
#end 
#end
#end


#macro ( colWriteKeys $prefix $tabVal $suffix $suffixlast)
#set ($colnum = $tabVal.numColumns)
#set ($keyCount = 0)
#foreach ( $column in $tabVal.Columns )
#if ($column.isPrimaryKey()) #set ($keyCount = $keyCount + 1) #end
#end

#foreach ( $column in $tabVal.Columns )
#if  ($column.isPrimaryKey())
#set ($keyCount = $keyCount - 1 )
#if ($keyCount > 0) 
$prefix $column.name.toUpperCase() $suffix
#else
$prefix $column.name.toUpperCase() $suffixlast
#end 
#end
#end
#end

#macro ( colWriteJavaKeys $prefix $tabVal $suffix $suffixlast)
#set ($colnum = $tabVal.numColumns)
#set ($keyCount = 0)
#foreach ( $column in $tabVal.Columns )
#if ($column.isPrimaryKey()) #set ($keyCount = $keyCount + 1) #end
#end

#foreach ( $column in $tabVal.Columns )
#if  ($column.isPrimaryKey())
#set ($keyCount = $keyCount - 1 )
#if ($keyCount > 0) 
$prefix$column.JavaName$suffix
#else
$prefix$column.JavaName$suffixlast
#end 
#end
#end
#end

#macro ( colWriteNonKeys $prefix $tabVal $suffix $suffixlast)
#set ($colnum = $tabVal.numColumns)
#set ($keyCount = 0)

#foreach ( $column in $tabVal.Columns )
#if ($column.isPrimaryKey()) #else #set ($keyCount = $keyCount + 1) #end
#end

#foreach ( $column in $tabVal.Columns )
#if  ($column.isPrimaryKey()) #else
#set ($keyCount = $keyCount - 1)
#if ($keyCount > 0) 
$prefix $column.name.toUpperCase() $suffix
#else
$prefix $column.name.toUpperCase() $suffixlast
#end 
#end
#end
#end

#macro ( colToken $tabVal $suffix $suffixlast)
    #set ($colnum = $tabVal.numColumns)
	#foreach ( $column in $tabVal.Columns )
		#set ($colnum = $colnum - 1)    
		#if  ($colnum != 0) $suffix
		#else $suffixlast	
		#end 
	#end          
#end

#macro ( colJavaName $prefix $tabVal $suffix $suffixlast)
    #set ($colnum = $tabVal.numColumns)
	#foreach ( $column in $tabVal.Columns )
		#set ($colnum = $colnum - 1)    
		#if  ($colnum != 0) $prefix #dropCase( $column.javaName )$suffix
		#else $prefix #dropCase( $tabVal.javaName ) $suffixlast	
		#end 
	#end          
#end

#macro ( messageKey $column)
#if (!$column.Description)
$column.JavaName
#else
$column.Description  
#end
#end

